.example {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    min-height: 100vh;
    background-color: #16161a;
    color: wheat;
    user-select: none;
}

.example button {
    color: wheat;
    border: 2px solid currentColor;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
    font-size: 21px;
    padding: 7px 20px;
    margin-bottom: 15px;

}

.example button:hover {
    color: cornflowerblue;
}

.example button:disabled {
    color: gray;
    cursor: wait;
}

.example div button:not(:last-child) {
    margin-right: 15px;
}

.example input {
    outline: none;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 7px;
    color: wheat;
    margin-bottom: 15px;
    padding: 5px 10px;
}

.example input:disabled {
    color: grey;
}

.example .tilt {
    background-image: linear-gradient(135deg, #ff00ba 0%, #fae713 100%) !important;
    cursor: pointer;
}

.example .tilt div {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}